---
title: St. Joseph Orthodox Syrian Church - About Church
---

		<section>
		</section>
		<section class='row'>
			<div class='container' id="aboutchurch">
				<h2 class='section-head'> About Church </h2>
				<div class="row">
				<p class='section-para'><img class="imgl inspace-5 img-thumbnail" src="images/stjoseph.jpg" width="400"/>
				This church is unique to be the first in Malankara Orthodox church to be dedicated in the name of St. Joseph. St. Joseph is remembered as the righteous in the Orthodox church. God chose him for a significant role in His salvation plan. He was chosen to be the husband of Mother Mary, to protect Mother Mary and child Jesus. St. Joseph is known as the patron saint of workers, homeless and family. St. Joseph, may your prayers bless this humble church to spread God's love!</p>
				</div>
                                <h2 class='section-head'> Parish History </h2>
                                <p class='section-para'><img class="imgr inspace-5 img-thumbnail" src="images/about.jpg" width="400"/>
				With the inspiration of His Grace Abraham Mar Seraphim, the need of building a new church gained momentum in St Thomas Orthodox Maha Edavaka. As a first step, it was decided to start the Sunday worship service at Yuvalok School auditorium at Vodarapalaya from Nov 1, 2012.
<br><br>
The then Vicar, Rev Fr Mani K. Varghese, proposed the name of St Joseph for the Chapel service, which has resulted in dedicating the new Chapel in the name of the righteous saint. Rev Fr K.M. Jacob (Jacob Achen) assumed charge of the Parish as the new Vicar in May 2013 and the idea of constructing a new Church became stronger.
<br><br>
With the blessings of the Diocesan Metropolitan H.G. Dr Abraham Mar Seraphim, and under the leadership of Jacob Achen, St Joseph Chapel Development Committee (SJCDC) was formed to realize the vision of a new chapel. Two adjacent sites near Banjara Layout with 8650 sq ft situated at Kalkeri Village, KR Puram Hobli, Bangalore East Taluk were purchased during March-April 2014. Diocesan Metropolitan, H.G. Dr Abraham Mar Seraphim laid the foundation stone to inaugurate the chapel construction on Nov 23, 2014. H.G. Kuriakose Mar Clemis (Metropolitan, Thumpamon Diocese) and H.G. Dr Zacharias Mar Aprem (Metropolitan, Adoor-Kadampanadu Doicese) along with H.G. Dr Abraham Mar Seraphim led the consecration services of the newly built church building on July 23, 2016. St Joseph Chapel is announced as an independent parish on March 26, 2017. </p>
                                <h2 class='section-head'> St. Joseph as an Intercessor </h2>
                                <p class='section-para'><img class="imgl inspace-5 img-thumbnail" src="images/joseph-in.jpg" width="400"/>  Orthodox Church remembers St. Joseph and the vision he received in the sequence of events during one of the Sundays before Christmas. However, at many other places, we need to retrospect why Orthodox Church is not giving the due respect to St. Joseph as the Catholic Church does. We cannot forget that like Mother Mary, St. Joseph also played an important role in bringing up the child Jesus. Though St. Joseph was not the biological father of Jesus, Joseph was the foster father appointed by God to take care of Mother Mary and baby Jesus even before the child was born.
<br><br>
As seen in Luke 1:26, the Annunciation by Angle Gabriel took place after the betrothal of Mother Mary to St. Joseph. We can see that God formed a family to welcome and bring up the baby Jesus. We can imagine the pain and suffering St. Joseph must have went through to provide a shelter for the mother and child during the birth of Jesus. As per the vision he received from God, St. Joseph took the child and the mother and fled to Egypt to save them from the hands of Herod.Again, after Herod.s time,St. Joseph returned and settled in Nazareth with the child Jesus and Mother Mary to fulfill the scriptures.
<br><br>
A mother plays an integral role in bringing up a child, and so does a father. St. Joseph trained child Jesus in scriptures and carpentry skills. Luke 2:51 says, .Then he went down to Nazareth with them and was obedient to them.. Jesus grew up in both Mother Mary.s and St. Joseph.s love and care. We can see the respect Mother Mary showed to St. Joseph from the following verse when she remarks to boy Jesus when he was lost and found in the temple, "Son, why have you treated us like this? Your father and I have been anxiously searching for you. " This verse clearly emphasis the word .us. revealing the joint responsibility of Mother Mary and St. Joseph. Also, Mary refers St. Joseph as .father. here shows the paternal care Joseph provided to boy Jesus.
<br><br>
The life of St. Joseph is an inspiration to the believers to lead a blessed life in both personal and professional fronts. The holy family of Nazareth should be a model for the Orthodox believers to renew and strengthen the family bonds. </p>
			</div>
			   <h2 class='section-head'> Managing Committee </h2>
				<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Binoy-Joshua.jpg" width="150" height="194"/><h6 class='brown-title'>Fr. Binoy Joshua</h6><h6 class='office-title'>Vicar</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Person.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Thomas T</h6><h6 class='office-title'>Treasurer</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Samuel-Varughese.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Samuel K Varughese</h6><h6 class='office-title'>Secretary</h6>
				</div>
				</div>
			   <h2 class='section-head'> Committee Members </h2>
				<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Person.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Abraham Koshy</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Person.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Elias V J</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Koshy-Thomas.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Koshy Thomas C</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Person.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Mathew Thomas</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Person.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Rajesh Jacob</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Person.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Raju George</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Person.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Renji Samuel</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/Siju-Ninan.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Siju Ninan</h6>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
				<img class="imgc inspace-5 img-thumbnail" src="images/CK-Thomas.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Thomas C K</h6>
				</div>
				</div>
		</section>
