---
title: St. Joseph Orthodox Syrian Church - Choir
---
		<section>
		</section>
		<section class='row'>
			<div class='container' id="choir">
				<h2 class='section-head'> Choir </h2>
				<div class="row">
				<p class='section-para'>
				St. Joseph Church's Choir started in May 2014. The Choir led by Mr. Koshy Thomas C practices every Saturday and is enriching the Holy Qurbana. The church koodasha service was made melodious by their rendition.
				</p>
				</div>
                           <h2 class='section-head'> Choir Members </h2>
                                <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 no-padding">
				<p class='section-para'>
                                <a href="images/Choir.jpg"><img class="imgg img-thumbnail" src="images/Choir.jpg" width="100%"></a>
                                St. Joseph Orthodox Syrian Church - Choir Members</p>
                                </div>
                                </div>
			</div>
		</section>
