---
title: St. Joseph Orthodox Syrian Church - Choir
---
		<section>
		</section>
		<section class='row'>
			<div class='container' id="choir">
				<h2 class='section-head'> Choir </h2>
				<div class="row">
				<p class='section-para'>
				Choir and Youth Movement started in May 2014. The Choir led by Mr. Koshy Thomas C practices every Saturday and is enriching the Holy Qurbana. The church koodasha service was made melodious by their rendition.
				</p>
				</div>
                           <h2 class='section-head'> Choir Members </h2>
                                <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                <img class="imgc inspace-5" src="images/none.jpg" width="97%" height="400"/><h6 class='office-title inspace-5'>From Left to Right: Mr. Firstname Lastname, Mr. Firstname Lastname</h6>
                                </div>
                                </div>
			</div>
		</section>
