---
title: St. Joseph Orthodox Syrian Church
---

		<section>
		<div class="menu_icon">
			<div class='slick-carousel'>
					<div class="item active">
						<img src="images/slide2.jpg" alt="" style="width:100%;">
						<div class="carousel-caption">
						<div class="back-light"><b>ST. JOSEPH ORTHODOX SYRIAN CHURCH</b>
						<div class="back-light-small">KSR Main Road, Kanakagiri, Kalkere, Horamavu, Bangalore, Karnataka, India - 560 113</div>
						</div>
					        </div>
					</div>
			</div>
		</div>
		</section>
                <div class="menu_text">
                <section class='row'>
                        <div class='container'>
                        <p class="menu_text"><b>ST. JOSEPH</b></p><p><b>ORTHODOX SYRIAN CHURCH</b></p>
                        <p>KSR Main Road, Kanakagiri, Kalkere, Horamavu, Bangalore, Karnataka, India - 560 113</p>
                        </div>
                </section>
                </div>
                </section>
		<section class='row'>
			<div class='container'>
			<div class='achieve'>
				<div class='item col-sm-4 col-xs-4 col-md-2'>
					<a href="mgocsm.html"><img src="images/mgocsm.jpg" height="70"/></a>
					<p>MGOCSM</p>
				</div>
				<div class='item col-sm-4 col-xs-4 col-md-2'>
					<a href="sundayschool.html"><img src="images/sundayschoollogo.png" height="70"/></a>
					<p>Sunday School</p>
				</div>
				<div class='item col-sm-4 col-xs-4 col-md-2'>
					<a href="prayergrp.html"><img src="images/prayergrp.jpg" height="70"/></a>
					<p>Prayer Group</p>
				</div>
				<div class='item col-sm-4 col-xs-4 col-md-2'>
					<a href="choir.html"><img src="images/prayergrp.jpg" width="70" height="70"/></a>
					<p>Choir</p>
				</div>
				<div class='item col-sm-4 col-xs-4 col-md-2'>
					<a href="stmarys.html"><img src="images/stmarys.jpg" width="70" height="70"/></a>
					<p>St. Mary's League</p>
				</div>
				</div>
			</div>
		</section>
		<section class='row'>
			<div class='container'>
				<h2 class='section-head'> Worship Timings </h2>
				<div class=" col-xs-12 col-sm-6 col-md-6" style="padding: 0px;">
				<p class='section-para' style="margin: 0px;">
					<b>Saturday:</b><br>
					Evening Prayer: 6:30 PM<br>
				</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6" style="padding: 0px;">
				<p class='section-para' style="margin: 0px;">
					<b>Sunday:</b><br>
					Morning Prayer: 7:30 AM<br>
					Holy Qurbana: 8:30 AM<br>
				</p>
				</div>
			</div>
                </section>
		<section class='row'>
			<div class='container' id="aboutchurch">
				<h2 class='section-head'> About Church </h2>
				<p class='section-para' style="margin: 0px;"> This church is unique to be the first in Malankara Orthodox church to be dedicated in the name of St. Joseph. St. Joseph is remembered as the righteous in the Orthodox church. God chose him for a significant role in His salvation plan. He was chosen to be the husband of Mother Mary, to protect Mother Mary and child Jesus. St. Joseph is known as the patron saint of workers, homeless and family. St. Joseph, may your prayers bless this humble church to spread God's love!<br> <a href="aboutchurch.html" class='read-button'>Read More..</a></p>
			</div>
                          <div class='gallery-wrapper' style="margin-left: 15px; margin-right: 15px; margin-top: 0px;">
                           <div class='gallery-carousel'">
                            <div class="item">
                             <img src='images/aboutchurch/church1.jpg' style="width:100%; padding: 10px;"/>
                            </div>
                            <div class="item">
                             <img src='images/aboutchurch/church2.jpg' style="width:100%; padding: 10px;"/>
                            </div>
                            <div class="item">
                             <img src='images/aboutchurch/church3.jpg' style="width:100%; padding: 10px;"/>
                            </div>
                            <div class="item">
                             <img src='images/aboutchurch/church4.jpg' style="width:100%; padding: 10px;"/>
                            </div>
                            <div class="item">
                             <img src='images/aboutchurch/church5.jpg' style="width:100%; padding: 10px;"/>
                            </div>
                            <div class="item">
                             <img src='images/aboutchurch/church6.jpg' style="width:100%; padding: 10px;"/>
                            </div>
                            <div class="item">
                             <img src='images/aboutchurch/church7.jpg' style="width:100%; padding: 10px;"/>
                            </div>
                           </div>
                          </div>
		</section>
		<section class='row'>
			<div class='container' id="events">
				<h2 class='section-head'> Events </h2>
				<div class='event-carousel'>
					<div class="item">
						<div class='wrapper'>
							<div>
							<p class='event-statement'>Kalasandhya (26-Nov-2017)</p>
							<p class='event-statement'>
							<img src="images/events/kalasandhya.jpg" alt="" style="width:100%;">
							</p>
							</div>
						</div>
					</div>

					<div class="item">
						<div class='wrapper'>
							<div>
							<p class='event-statement'>Food Fest (11-Feb-2018)</p>
							<p class='event-statement'>
							<img src="images/events/foodfest.jpg" alt="" style="width:100%;">
							</p>
							</div>
						</div>
					</div>

			</div>
			</div>
		</section>
		<section class='row'>
			<div class='container' id="gallery">
				<h2 class='section-head'> Gallery </h2>
				<div class="clearfix"></div>
					<div class='gallery-wrapper'>
						<div class='gallery-carousel'>
							 <div class="item">
								<div class='wrapper'>
									<a href="gallery-sundayschoolannualday.html">
									<img src='images/gallery/sundayschoolannual-grey.jpg'/></a>
									<h2 class='brown-title'>Sunday School Annual</h2>
									<p class='quote'>04-Mar-2018</p>
								</div>
							</div> 
							<div class="item">
								<div class='wrapper'>
									<a href="gallery-sample.html"><img src='images/qurbana-grey.jpg'/></a>
									<h2 class='brown-title'>Qurbana</h2>
									<p class='quote'>....</p>
								</div>
							</div>

							<div class="item">
								<div class='wrapper'>
									<a href="gallery-sample.html"><img src='images/fresher-grey.jpg'/></a>
									<h2 class='brown-title'>Fresher</h2>
									<p class='quote'>....</p>
								</div>
							</div>
							<div class="item">
								<div class='wrapper'>
									<a href="gallery-sample.html"><img src='images/kudasha-grey.jpg'/></a>
									<h2 class='brown-title'>Kudasha</h2>
									<p class='quote'>....</p>
								</div>
							</div>
							<div class="item">
								<div class='wrapper'>
									<a href="gallery-sample.html"><img src='images/misc-grey.jpg'/></a>
									<h2 class='brown-title'>Misc</h2>
									<p class='quote'>....</p>
								</div>
							</div>

						</div>
					</div>			
				</div>
		</section>
		<section class='row'>
			<div class='container' id="howtoreach">
				<h2 class='section-head'> How to Reach </h2>
			<div class="col-sm-12 col-md-6" style="padding: 0px;">
			<p class='section-para' style="margin: 0px;">
				<a href="https://goo.gl/maps/X1V3PD4qTNH2" target='_blank'><img src="images/mapimg.jpg" width="100%"></a>
			</p>
			</div>
			<div class="col-sm-12 col-md-6" style="padding: 0px;">
			<p class='section-para' style="margin: 0px;">
				<b>Address:</b><br>
				St. Joseph Orthodox Syrian Church,<br>KSR Main Road, Kanakagiri,<br>Kalkere, Horamavu, Bangalore,<br>Karnataka, India - 560 113
			</p>
			</div>
		</section>
