---
title: St. Joseph Orthodox Syrian Church - Martha Mariyam Samajam
---
		<section>
		</section>
		<section class='row'>
			<div class='container' id="stmarys">
				<h2 class='section-head'> Martha Mariyam Samajam </h2>
				<div class="row">
				<p class='section-para'>
				Martha Mariyam Vanitha Samajam started in June 2003 under the initiative of Rev. Fr. K M Jacob and the meetings were held at the residence of members on every Wednesdays. Though limited in numbers they were successful in raising about Rs. 2.75 lakhs towards the purchase and construction through sale of home made food products. They were providing brekfast for the visting preiests and altar assistants after holy Qurbana.
				</p>
				</div>
                           <h2 class='section-head'> Office Bearers </h2>
                                <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                <img class="imgc inspace-5 img-thumbnail" src="images/none.jpg" width="150" height="194"/><h6 class='brown-title'>Mrs. Jessy Varghese</h6><h6 class='office-title'>Treasurer</h6>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                <img class="imgc inspace-5 img-thumbnail" src="images/none.jpg" width="150" height="194"/><h6 class='brown-title'>Mrs. Mini Appu</h6><h6 class='office-title'></h6>
                                </div>
                                </div>
			</div>
		</section>
