---
title: St. Joseph Orthodox Syrian Church - Sunday School
---
		<section>
		</section>
		<section class='row'>
			<div class='container' id="sundayschool">
				<h2 class='section-head'> Sunday School </h2>
				<div class="row">
				<p class='section-para'>
				Sunday school was formally inagurated on 6th January 2013 by Mr. Josy Abraham, former director of Sunday schools, Bombay Diocese in the presence of Rev. Fr. Bijoy Zachariah, the then Bangalore Diocese Aramana Manager. From an initial strength of 45 students across 9 classes, it has now grown to 114 students and 18 teachers. The Sunday school teachers, parents and students have done a wonderful job under the leadership of Mr. Thomas Philip as headmaster and later joined by Dr. Mrs. Tinku Thomas as Asst. Headmaster and Siju Ninan as staff secretary. The Sunday school organised a group activity named 'Kurunnu Virunnu' the fun food fair, by which the childen could raise more than Rs. 2 lakhs towards church construction.
				</p>
				</div>
                           <h2 class='section-head'> Office Bearers </h2>
                                <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                <img class="imgc inspace-5 img-thumbnail" src="images/Thomas-Philip.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Thomas Philip</h6><h6 class='office-title'>Head Master</h6>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                <img class="imgc inspace-5 img-thumbnail" src="images/Person.jpg" width="150" height="194"/><h6 class='brown-title'>Dr. Tinku Thomas</h6><h6 class='office-title'>Asst. H.M.</h6>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                <img class="imgc inspace-5 img-thumbnail" src="images/Siju-Ninan.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Siju Ninan</h6><h6 class='office-title'>Secretary</h6>
                                </div>
                                </div>
                           <h2 class='section-head'> Teachers </h2>
                                <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 no-padding">
				<p class='section-para'>
                                <a href="images/Teachers.jpg"><img class="imgg img-thumbnail" src="images/Teachers.jpg" width="100%"></a>St. Joseph Orthodox Syrian Church - Sunday School Teachers</p>
                                </div>
                                </div>
			</div>
		</section>
