---
title: St. Joseph Orthodox Syrian Church - Sunday School
---
		<section>
		</section>
		<section class='row'>
			<div class='container' id="sundayschool">
				<h2 class='section-head'> Sunday School </h2>
				<div class="row">
				<p class='section-para'>
				St. Joseph Church's Sunday school was formally inaugurated on 6th January 2013 by Mr. Josy Abraham, former director of Sunday schools, Bombay Diocese in the presence of Rev. Fr. Bijoy Zachariah, former Bangalore Diocese Aramana Manager. This Sunday school is affiliated to Orthodox Syrian Sunday School Association of The East, Outside Kerala Region. From an initial strength of 45 students across 9 classes, it has now grown to 123 students and 19 teachers. The Sunday school teachers, parents and students have done a wonderful job under the leadership of Mr. Thomas Philip as headmaster and later joined by Dr. Mrs. Tinku Thomas as Asst. H.M., and Siju Ninan as staff secretary. The Sunday school organised a group activity named 'Kurunnu Virunnu', the fun filled food fair, it was a huge success and the childen could raise a good amount of money towards church construction.
				</p>
				</div>
                           <h2 class='section-head'> Office Bearers </h2>
                                <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                <img class="imgc inspace-5 img-thumbnail" src="images/Thomas-Philip.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Thomas Philip</h6><h6 class='office-title'>Head Master</h6>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                <img class="imgc inspace-5 img-thumbnail" src="images/Tinku-Thomas.jpg" width="150" height="194"/><h6 class='brown-title'>Dr. Tinku Thomas</h6><h6 class='office-title'>Asst. H.M.</h6>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                <img class="imgc inspace-5 img-thumbnail" src="images/Siju-Ninan.jpg" width="150" height="194"/><h6 class='brown-title'>Mr. Siju Ninan</h6><h6 class='office-title'>Secretary</h6>
                                </div>
                                </div>
                           <h2 class='section-head'> Teachers & Students </h2>
                                <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 no-padding">
				<p class='section-para'>
                                <a href="https://lh3.googleusercontent.com/Yf3LPb_v4LZTbY_oZODTF2UYEroBe6IRGGnXRP2fG6-C8LjWX3AISYmhToJlarj5npLDmv5QlQffT0hbm6zCZ7Qemb7EFMjYt0Gpuf5etAHD5dboB6PJxceO8PDyAperrmIF1pijGA=w10000-h10000-no"><img class="imgg img-thumbnail" src="https://lh3.googleusercontent.com/Yf3LPb_v4LZTbY_oZODTF2UYEroBe6IRGGnXRP2fG6-C8LjWX3AISYmhToJlarj5npLDmv5QlQffT0hbm6zCZ7Qemb7EFMjYt0Gpuf5etAHD5dboB6PJxceO8PDyAperrmIF1pijGA=w3000-h3000-no" width="100%"></a>Sunday School Teachers & Students with H.G. Dr. Abraham Mar Seraphim & Vicar</p>
                                </div>
                                </div>
			</div>
		</section>
