---
title: St. Joseph Orthodox Syrian Church
---

		<section>
		</section>
		<section class='row'>
			<div class='container' id="aboutchurch">
				<h2 class='section-head'> Sample Gallery Photos </h2>
<div class="imgrow">
  <div class="imgcolumn">
    <img src="images/gallery/onam/church1.jpg" style="width:100%">
    <img src="images/gallery/onam/church2.jpg" style="width:100%">
    <img src="images/gallery/onam/onam.jpg" style="width:100%">
  </div>
  <div class="imgcolumn">
    <img src="images/gallery/onam/fresher.jpg" style="width:100%">
    <img src="images/gallery/onam/church4.jpg" style="width:100%">
    <img src="images/gallery/onam/church4.jpg" style="width:100%">
  </div>
  <div class="imgcolumn">
    <img src="images/gallery/onam/church5.jpg" style="width:100%">
    <img src="images/gallery/onam/kudasha.jpg" style="width:100%">
    <img src="images/gallery/onam/church6.jpg" style="width:100%">
  </div>
  <div class="imgcolumn">
    <img src="images/gallery/onam/church1.jpg" style="width:100%">
    <img src="images/gallery/onam/qurbana.jpg" style="width:100%">
    <img src="images/gallery/onam/misc.jpg" style="width:100%">
  </div>
</div>
<p></p>
		</section>
		<section class='row'>
			<div class='container'>
				<h2 class='section-head'> Videos </h2>
<div class="col-sm-4 col-md-3 inspace-5">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="//www.youtube.com/embed/n0-rZHpL2Rw"></iframe>
</div>
</div>
<div class="col-sm-4 col-md-3 inspace-5">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="//www.youtube.com/embed/Z5yesv1EByI"></iframe>
</div>
</div>
<div class="col-sm-4 col-md-3 inspace-5">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="//www.youtube.com/embed/Zrl9-xlHQuI"></iframe>
</div>
</div>
<div class="col-sm-4 col-md-3 inspace-5">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="//www.youtube.com/embed/L5gABaSHPH0"></iframe>
</div>
</div>
<div class="col-sm-4 col-md-3 inspace-5">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="//www.youtube.com/embed/RuY6KQX_hIo"></iframe>
</div>
</div>
		</section>
